body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0%;
   
}
.container{
    width: auto;
    height: 100px;
    background-color: rgb(233, 166, 22);
    display: flex;
}
.first-tag{
    font-size: 20px;
    color: rgb(241, 220, 220);
    padding-left: 60px;
    padding-top: 30px;
    margin-top: 0%;
}

.first-btn{
    width: 100px;
    height: 40px;
    margin-top: 30px;
    margin-left: 60%;
    font-size: 15px;

}
.first-btn:hover{
   background-color: rgb(226, 144, 37);
   color: white;
}
.link-add{
    padding-left: 20px;
    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 7px;
    text-decoration: none;
    border: 2px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right:0;
    background-color: rgb(206, 100, 29);
    color:white;
   
}
.link-add:hover{
    background-color: rgb(30, 33, 39);
    color: white;
}
#section1{
    display: flex;
}
.some-write{
    width: 50%;
}
.some-write2{
    width: 50%;
}
.second-tag{
    font-size: 30px;
    margin-left: 70px;
    margin-top: 100px;
}
.span1{
    color: rgb(255, 81, 0);
}
.third-tag{
    margin-left: 70px;
    font-size: 20px;
}
.link-add2{
    margin-left: 70px;
    text-decoration: none;
    
    border-radius: 15px;
    padding:20px;
    background-image: linear-gradient(rgb(230, 96, 96),rgb(231, 178, 78));
    color: thistle;
}
.link-add2:hover{
    background-image: linear-gradient(rgb(185, 116, 51),rgb(201, 143, 37));
    color: rgb(146, 224, 146);
}
.imges{
    margin-top: 50px;
    margin-left:60px;
    width:70% ;

}
#section2{
    display: flex;
    width: auto;
    height: 700px;
    background-image: linear-gradient(rgb(202, 145, 145),rgb(145, 145, 187));
    margin-top: 50px;
}
.some-write3{
    width: 50%;
    margin-left: 200px;
    margin-top: 100px;
}
.some-write4{
    width: 50%;
    margin-top: 150px;
}
.imges2{
    width: 90%;
    padding-left: 100px;
}.forth-tag{
    font-size: 30px;
}
.span2{
    color: rgb(219, 103, 57);
}
.fifth-tag{
    font-size: 20px;
    margin-right: 100px;
}
.link-add3{
    
    padding: 15px;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 0;
    border-radius: 15px;
    background-color: rgb(219, 154, 33);
    color: rgb(247, 246, 245);
}
.link-add3:hover{
    background-image: linear-gradient(rgb(197, 118, 118),rgb(138, 173, 138));
    color: white;

}
h1{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}
h3{
    font-size: 15px;
    margin-left: 30%;
    margin-bottom: 50px;
}
#section3{
    display: flex;
justify-content: space-between;



}  
    
.some-write5{
        width: 33%;
        box-shadow: rgb(65, 59, 59) 10px 10px 30px;
        margin-right: 2%;
        margin-left: 3%;
        border: 1px solid white;
        border-radius: 10px;
        padding: 1rem;
      

    }
    .some-write6{
        width: 33%;
        box-shadow: rgb(65, 59, 59) 10px 10px 30px;
        margin-right: 2%;
        margin-left: 2%;
        border: 1px solid white;
        border-radius: 10px;
        padding: 1rem;
        
    }
    .some-write7{
        
        width: 33%;
        box-shadow: rgb(65, 59, 59) 10px 10px 30px;
        margin-left: 2%;
        margin-right: 3%;
        border: 1px solid white;
        border-radius: 10px;
        padding: 1rem;
    }
   .image{
       width: 100%;
       border-radius: 7px;

    
   }
#id-div{
    width: auto;
    height: 150px;
    margin-top: 60px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10px;
    display: flex;
    box-shadow: 10px 10px 40px black;
}
.mon{
  padding-left: 50px ;
  padding-top: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}
.dib{
  padding-left: 350px;
  padding-top: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}
.kobe{
    padding-left: 350px;
    padding-top: 10px;
    font-size: 20px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.last{
    width: auto;
    height: 250px;
    background-color: rgb(27, 31, 27);
    margin-bottom: 10px;
}
.lastp{
    padding-left: 45%;
    padding-top: 30px;
    color: white;
}
.lasts{
    color: rgb(207, 134, 44);
}
h4{
    padding-top: 50px;
    padding-left: 550px;
    color: white;
    font-size: small0;
}